footer {
	display: flex;
	background-color: $color-1;
	color: $white;
	padding: 20px;

	.container {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 30px;
	}

	p {
		color: #57506d;
	}

	@media screen and (max-width: 768px) {
		.container {
			display: flex;
			flex-direction: column;
			gap: 5px;
		}
	}
}