body {
	font-family: 'Mulish', sans-serif;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;

	p {
		line-height: 1.5;
		font-size: 18px;

		@media (max-width: 992px) {
			font-size: 16px;
		}
	}
}

// color variables
$color-1: #ff875c;
$color-2: #472e57;
$color-3: #ff4c05;
$color-4: #1c4a00;
$color-5: #f5eddf;
$success: #4CAF50;
$white: #fff;
$black: #000;
$overlay: rgba(18, 21, 25, 0.98);

// spacing variables
$border-radius: 8px;

main {
	flex: 1;
	background-color: $color-5;
}

.custom-contact-form input[type="submit"] {
	background-color: $color-4 !important;
	color: $color-5 !important;
}

.comments-area   {
	.comment-list {
		.comment {
			padding: 10px;
    		box-shadow: 0 10px 40px rgba(0, 0, 0, .05);
		}
	}
}

.load-more-btn {
	padding: 8px 12px;
	background-color: $color-4;
	color: $white;
	text-transform: uppercase;
	border: none;
	border-radius: $border-radius;
	transition: background-color 0.3s ease, box-shadow 0.3s ease;

	&:hover {
		cursor: pointer;
		background-color: #173506;
		box-shadow: 7px 7px 2px 1px rgba(0, 0, 0, 0.071);
	}
}

a {
	color: $color-3;
	text-decoration: none;

	&:hover {
		color: #a7421a;
	}
}

.container {
	width: auto;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

@media (min-width: 576px) {
	.container {
		max-width: 540px;
	}
}

@media (min-width: 768px) {
	.container {
		max-width: 720px;
	}
}

@media (min-width: 992px) {
	.container {
		max-width: 960px;
	}
}

@media (min-width: 1200px) {
	.container {
		max-width: 1140px;
	}
}

@media (min-width: 1340px) {
	.container {
		max-width: 1340px;
	}
}