.page-article {
	margin-bottom: 30px;
	border-bottom: 1px solid #ccc;
	padding-bottom: 20px;
}

.page-article .entry-title {
	font-size: 32px;
	font-weight: bold;
}

.page-article .entry-content {
	line-height: 1.6;
	font-size: 16px;
}