.content-area {
	display: flex;
	justify-content: space-between;

	@media (max-width: 992px) {
		flex-direction: column;
	}
}

#post-54 {
	width: 100%;
}

#post-52 {
	width: 100%;
}

.is-resources {
	width: 100% !important; 

	.in-content-search-wrapper {
		margin-bottom: 2rem;
		padding: 1rem;
		background-color: $color-5;
		box-shadow: 0 10px 40px rgba(0, 0, 0, .05);
		border: 1px solid #ddd;
		border-radius: 8px;

		label {
			display: block;
			font-size: 1rem;
			font-weight: 600;
			margin-bottom: 0.5rem;
			color: #333;
		}

		.in-content-search {
			width: max-content;
			max-width: 400px;
			padding: 0.6rem 1rem;
			font-size: 1rem;
			border: 1px solid #ccc;
			border-radius: 6px;
			outline: none;
			transition: border-color 0.3s ease, box-shadow 0.3s ease;

			&:focus {
			border-color: #0073aa;
			box-shadow: 0 0 0 3px rgba(0, 115, 170, 0.2);
			}
		}
	}
}

.post-article {
	width: 65%;

	@media (max-width: 992px) {
		width: 100%;
	}
}

.post-article {
	margin-bottom: 30px;
	border-bottom: 1px solid #ccc;
	padding-bottom: 20px;
}

.post-article .entry-title {
	font-size: 24px;
	font-weight: bold;
}

.post-tags {
	margin-top: 2rem;

	h4 {
		margin-bottom: 1rem;
		font-size: 1.1rem;
		color: #333;
	}

	ul {
		display: flex;
		flex-wrap: wrap;
		gap: 0.5rem;
		padding: 0;
		margin: 0;
		list-style: none;
	}

	li {
		margin: 0;

		a {
			display: inline-block;
			padding: 0.4rem 0.8rem;
			background-color: $color-4;
			border-radius: 20px;
			font-size: 0.9rem;
			color: $color-5;
			text-decoration: none;
			transition: all 0.2s ease-in-out;

			&:hover {
				background-color: #173506;
			}
		}
	}
}