.about-post-loop-list {
	margin: 50px 0;
}

.post-wrapper {
	margin: 25px auto;

	.post-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: start;
		gap: 30px;

		@media screen and (max-width: 480px) {
			justify-content: center;
			gap: 0;
		}

		.post-card {
			width: calc(33.33% - 20px);
			height: 450px;
			margin-bottom: 20px;
			position: relative;
			display: flex;
			flex-direction: column;
			background-color: $color-5;
			overflow: hidden;
			box-shadow: 0 10px 40px rgba(0, 0, 0, .3);

			@media screen and (max-width: 1200px) {
				height: 400px;
			}

			@media screen and (max-width: 768px) {
				width: calc(50% - 20px);
			}

			@media screen and (max-width: 480px) {
				width: calc(100% - 20px);
			}

			&-description {
				padding: 10px;

				h3 {
					color: $color-2;
					margin: 0 0 5px;
					line-height: 1.3;
				}

				p {
					margin: 0 0 5px;
					color: $black;
					display: -webkit-box;
					-webkit-line-clamp: 4;
					-webkit-box-orient: vertical;
					overflow: hidden;
					text-overflow: ellipsis;
					line-height: 1.3;
					font-size: 16px;
				}
			}

			&-img {
				position: relative;

				&-link {
					display: block;
					width: 100%;
					height: 260px;
					overflow: hidden;
					transition: .5s;

					&:hover {
						&::before {
							background: rgba(0,0,0,0.1);
						}

						img {
							transform: scale(1.1);
							transition: .5s;
						}
					}

					@media screen and (max-width: 1200px) {
						height: 200px;
					}

					&::before {
						transition: .5s;
						content: '';
						z-index: 10;
						position: absolute;
						width: 100%;
						height: 100%;
						background: rgba(0,0,0,0.3);
					}

					img {
						width: 100%;
						height: 100%;
					}
				}
			}
		}
	}
}
