.user-profiles-accordion {
	display: flex;
	flex-wrap: wrap;
	justify-content: start;
	margin: 25px auto;
	gap: 26px;

	@media screen and (max-width: 768px) {
		gap: 0;
		justify-content: space-between;
	}

	@media screen and (max-width: 480px) {
		justify-content: center !important;
	}

	.user-profile {
		border-radius: $border-radius;
		width: calc(25% - 20px);
		margin-bottom: 20px;
		max-height: 500px;
		overflow: hidden;
		box-shadow: 0 10px 40px rgba(0, 0, 0, .3);

		@media screen and (max-width: 768px) {
			width: calc(50% - 20px);
		}

		@media screen and (max-width: 480px) {
			width: calc(100% - 20px);
		}

		.user-image {
			width: 100%;
			height: 250px;
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
		}

		.user-details {
			padding: 10px;
			background-color: $color-5;
			text-align: center;

			.user-name {
				margin-bottom: 10px;
				font-weight: bold;
			}

			.user-description {
				font-style: italic;
				overflow: hidden;
				text-overflow: ellipsis;
				display: -webkit-box;
				-webkit-line-clamp: 5;
				-webkit-box-orient: vertical;
			}
		}
	}
}
